<% page = { 'title' : 'PAGE_TITLE', 'key': 'SIZE_PAGE_NAME'} %>
<% assets = { 'css' : ['sizeExample.css'], 'js' : ['sizeExample.js'] } %>
<div id="main" class="experiments">
  <div class="no-layout">
    <h1 class="font21 serif"><%- t('size_title')%></h1>

    <div id="mainBox1">
      <section class="basic">
        <p>
          <%- t('box1_message')%>
        </p>
      </section>
    </div>

    <div id="mainBox2">
      <section class="basic">
        <p>
          <%- t('box2_message')%>
        </p>
      </section>
    </div>

    <div id="mainBox3">
      <section class="basic">
        <p>
          <%- t('box3_message')%>
        </p>
      </section>
    </div>

    <div id="sideBox1">
      <section class="basic">
        <p>
          <%- t('sidebox1_message')%>
        </p>
      </section>
    </div>

    <div id="sideBox2">
      <section class="basic">
        <p>
          <%- t('sidebox2_message')%>
        </p>
      </section>
    </div>



  </div>
</div>
